<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>
    <script>
        function receive_form(form){
            var expr = eval(form.expr.value);
            alert(expr);
        }

        function test(){
            alert('Calculating Program!!');
        }
    </script>
</head>
<body onload="test()">
<!--    <form action="#" name="cal" onsubmit="receive_form(this)">-->
    <form action="/calc" name="cal" method="post">
        <label>
            Enter expr: <input type="text" placeholder="Enter here" name="expr">
            {% if result %} <br><h3> Result: {{ result }} </h3> {% endif %}
            # 보다 보안적
        </label><br>
        <input type="submit" name="submit" value="submit">
    </form>
</body>
</html>