<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
    <form action="/">
        <input type="submit" value="HOME">
    </form>
    <form action="/" name="signin" method="post">
        <label>
            Enter the id: <input type="id" name="signup_id">
        </label><br>
        <label>
            Enter the ps: <input type="password" name="signup_pw">
        </label><br>
        <input type="submit" name="login" value="signup">
    </form>
</body>
</html>